body {
    background-color: white;
}

.headbar{

    padding: 30px;
    text-align: center;
    background: #656cec;
    color: white;
    font-size: 60px;
    font-family: sans-serif;
}

.top3box {
    display: flex;
    justify-content: center;
    border-radius: 1px 1px 50px 50px;
    background: #656cec;
    margin-top: 3px;
    padding: 10px; 
    gap: 100px;
  }


.flexbox {
    display: flex;
    flex-direction: column;
    background: #656cec;
    margin-top: 3px;
    padding: 30px;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    font-family: sans-serif;

}
  
.circle {
    border-radius: 50%;
    background: #babeff;
    width: 200px;
    height: 200px;
    align-self: center;

    box-shadow: 0 0 0 7px white;
}


.smallcircle1{
    border-radius: 50%;
    background: #babeff;
    width: 150px;
    height: 150px;
    align-self: flex-end;
    box-shadow: 0 0 0 7px white;
    text-align: center;
    
}

.smallcircle2{
    border-radius: 50%;
    background: #babeff;
    width: 150px;
    height: 150px;
    align-self: flex-end;
    box-shadow: 0 0 0 7px white;
    text-align: center;
}

.vsmallcircle{
    border-radius: 50%;
    background: #babeff;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 0 2px white;
    font-family: sans-serif;
}

.numericcircle{
    border-radius: 50%;
    background: #babeff;
    width:25px;
    height: 25px;
    text-align: center;
    font-family: sans-serif;


}

.tag {
    border-radius: 25px;
    background: #babeff;
    text-align: center;
    
    padding: 15px; 
    width: 100px;
    height: 10px;  
    font-family: sans-serif;
  }


#ranks {
    font-family: sans-serif;
    border-collapse: collapse;
    border-spacing: 10px;
    width: 100%;
    row-gap: 15px;
}

#ranks td, #rankss th {

    padding: 21px;
    width: 5000px;
}

#ranks tr{
    background-color: #d2d4f2;
    text-align: left;

}

.col {
    column-width: 10px;
}


.white{
    color: white;
}

.tag-prime {
    border-radius: 25px;
    background: #babeff;
    text-align: center;
    
    padding: 15px; 
    width: 150px;
    height: 15px;  
    font-family: sans-serif;
}