<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="styles.css" rel="stylesheet">
        <title>LeaderBoard</title>
    </head>
    <body>
        <div class="headbar">
            Leaderboard
        </div>
        <div class="top3box">
            <div class="flexbox">
                <div class="numericcircle white">2</div>
                <div class="smallcircle1"></div>
                <div class="tag white">Jeremy - 672</div>
            </div>
            <div class="flexbox">
                <div class="numericcircle white">1</div>
                <div class="circle"></div>
                <div class="tag-prime white">Amanda - 764</div>
            </div>
            <div class="flexbox">
                <div class="numericcircle white">3</div>
                <div class="smallcircle2"></div>
                <div class="tag white">Jefferey - 542</div>
            </div>
        </div>

        <table id="ranks">
            <tr>
                <td class="col">4</td>
                <td><div class="vsmallcircle"></div></td>
                <td class="col">Joe</td>
                <td>445</td>
            </tr>
            <tr>
                <td>5</td>
                <td><div class="vsmallcircle"></div></td>
                <td>Jenny</td>
                <td>438</td>
            </tr>
            <tr>
                <td>6</td>
                <td><div class="vsmallcircle"></div></td>
                <td>Josh</td>
                <td>432</td>
            </tr>
            <tr>
                <td>7</td>
                <td><div class="vsmallcircle"></div></td>
                <td>Stella</td>
                <td>321</td>
            </tr>
            <tr>
                <td>8</td>
                <td><div class="vsmallcircle"></div></td>
                <td>Sally</td>
                <td>300</td>
            </tr>
        </table>
        
    </body>
</html>